---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>About Me</h1>
    <p>A father and progammer</p>
    <p>Eamil: ferrislong1 AT gmail DOT com</p>
</BaseLayout>
